body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
}

.message-input {
  width: 60%;
  height: 5vh;
}

.button {
  margin-top: 5px;
}

.input-and-send {
  
}

.nickname {
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.time {
  color: grey;
  font-size: 10px;
}

.messages-container {
  height: 90vh;
  overflow-y: scroll;
}
