html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
  
}

#root {
  position: relative;
  height: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  overflow: clip;
}
#dark{
  background-image: linear-gradient(to bottom right, #001E3C, #0A1929);
  color: whitesmoke;
}

#light{
  background-image: linear-gradient(to bottom right, #AFE5EF, #C6C7EB);
}


.frosted-glass-panel {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5em);
  border-radius: 8px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  margin: 5px;
}

.frosted-glass-panel-messages {
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 1em;
  margin: 5px;
}
#dark .frosted-glass-panel-messages{
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .1);
  border: 2px solid rgba(255, 255, 255, .05);
}

#light .frosted-glass-panel-messages{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, 0);
}

#dark .username{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#light .username{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#dark .message-date{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#light .message-date{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.message {
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid grey;
  border-radius: 5px;
}

.message-input {
  width: 60%;
  margin-left: auto;
}

#dark .message-input{
  color: whitesmoke;
  border: whitesmoke;
}
#light .message-input{
  color: auto;
}
#dark .vis-icon
{
    color: whitesmoke;
}

#dark .input-field .MuiInputBase-root,
#dark .input-field .MuiInputLabel-root,
#dark .input-field .MuiFormHelperText-root
{
    color: whitesmoke;
}
#dark .input-field .MuiOutlinedInput-notchedOutline{
    border-color: whitesmoke;
}

#dark .checkbox .MuiCheckbox-root{
  color: whitesmoke;
}


.button {
  margin-top: 5px;
}



.nickname {
  color: black;
  font-weight: bold;
  font-size: 10px;
}
.time {
  color: grey;
  font-size: 10px;
}

.messages-container {
  height: 90vh;
  overflow-y: scroll;
}
